<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Plato - app/View/PagesView/PageView.js</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="../../assets/css/vendor/morris.css" rel="stylesheet">
  <link href="../../assets/css/vendor/bootstrap.css" rel="stylesheet">
  <link href="../../assets/css/vendor/font-awesome.css" rel="stylesheet">
  <link href="../../assets/css/vendor/codemirror.css" rel="stylesheet">
  <link href="../../assets/css/plato.css" rel="stylesheet">
  <link href="../../assets/css/plato-file.css" rel="stylesheet">

</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="http://github.com/es-analysis/plato">Plato on Github</a>
    <ul class="nav navbar-nav">
      <li>
        <a href="../../index.html">Report Home</a>
      </li>
    </ul>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h1>app/View/PagesView/PageView.js</h1>
  </div>
</div>

<div class="container aggregate-stats">
  <div class="row">
    <div class="col-md-6">
      <h2 class="header">Maintainability <a href="http://blogs.msdn.com/b/codeanalysis/archive/2007/11/20/maintainability-index-range-and-meaning.aspx"><i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="A value between 0 and 100 that represents the relative ease of maintaining the code. A high value means better maintainability." data-original-title="Maintainability Index"  data-container="body"></i></a></h2>
      <p class="stat">56.57</p>
    </div>
    <div class="col-md-6">
      <h2 class="header">Lines of code <i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="Source Lines of Code / Logical Lines of Code" data-original-title="SLOC/LSLOC" data-container="body"></i></h2>
      <p class="stat">117</p>
    </div>
  </div>
  <div class="row historical">
    <div class="col-md-6">
      <p id="chart_historical_maint" class="chart"></p>
    </div>
    <div class="col-md-6">
      <p id="chart_historical_sloc" class="chart"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="header">Difficulty  <a href="http://en.wikipedia.org/wiki/Halstead_complexity_measures"><i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="The difficulty measure is related to the difficulty of the program to write or understand." data-original-title="Difficulty" data-container="body"></i></a></h2>
      <p class="stat">21.21</p>
    </div>
    <div class="col-md-6">
      <h2 class="header">Estimated Errors  <a href="http://en.wikipedia.org/wiki/Halstead_complexity_measures"><i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="Halstead's delivered bugs is an estimate for the number of errors in the implementation." data-original-title="Delivered Bugs" data-container="body"></i></a></h2>
      <p class="stat">0.83</p>
    </div>
  </div>
</div>

<div class="container charts">
  <div class="row">
    <h2 class="header">Function weight</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="chart-header">By Complexity <a href="http://en.wikipedia.org/wiki/Cyclomatic_complexity"><i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="This metric counts the number of distinct paths through a block of code. Lower values are better." data-original-title="Cyclomatic Complexity" data-container="body"></i></a></h3>
      <div id="fn-by-complexity" class="stat"></div>
    </div>
    <div class="col-md-6">
      <h3 class="chart-header">By SLOC  <i class="icon icon-info-sign" rel="popover" data-placement="top" data-trigger="hover" data-content="Source Lines of Code / Logical Lines of Code" data-original-title="SLOC/LSLOC" data-container="body"></i></h3>
      <div id="fn-by-sloc" class="stat"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <textarea id="file-source" class="col-md-12">/*jshint node: true */
&#039;use strict&#039;;

/*
* Name :  PageView.js
* Module : FrontEnd::View::PagesView
* Location : /frontend/app/PagesView
*
* History :
* Version       Date        Programmer                  Description
* =================================================================================================
* 1.0.1         2015-06-14  Maria Giovanna Chinellato   Fix page size     
*
* 1.0.0         2015-06-14  Francesco Rossetto		    Tested     
*
* 0.1.1         2015-06-04  Maria Giovanna Chinellato   Fix link function      
*
* 0.1.0			2015-05-30	Francesco Rossetto			Add all attributes and all methods	
*
* 0.0.1         2015-05-30  Francesco Rossetto			Initial code      
* =================================================================================================
*/
angular.module(&#039;norris-nrti&#039;)
.directive(&#039;page&#039;, function($compile, $routeParams){
	return {
		restrict: &#039;E&#039;, // direttiva di tipo elemento (tag)
		controller : &#039;PageController&#039;,
		replace: false,
		scope: {},
		template: &#039;&lt;div id=&quot;page&quot;&gt;&lt;/div&gt;&#039;, // template HTML inserito dalla direttiva
		link: function (scope, element, attrs) {
			scope.socketConnection(); // richiama la funzione del controller che permette di connettersi al server

			scope.render = function() {
				parent = element.children()[0];
				element.empty();

				var commands = document.createElement(&#039;div&#039;);
				commands.setAttribute(&#039;class&#039;, &#039;commands&#039;);
				/*if (scope.previous) { // controlla se è presente una pagina precedente
					var previous = document.createElement(&#039;div&#039;);
					//previous.setAttribute(&#039;style&#039;, &#039;float:left;&#039;);
					var pIndex = parseInt($routeParams.pageId) - 1;
					previous.innerHTML = &#039;&lt;a ng-click=&quot;previous(&#039;+pIndex+&#039;)&quot; target=&quot;_self&quot;&gt;PREVIOUS PAGE&lt;/a&gt;&#039;; // inserisce il link alla pagina precedente
					commands.appendChild(previous);
				}
				var list = document.createElement(&#039;div&#039;);
				list.innerHTML = &#039;&lt;a ng-href=&quot;/&quot; target=&quot;_self&quot;&gt;RETURN TO PAGES LIST&lt;/a&gt;&#039;;
				//list.setAttribute(&#039;style&#039;, &#039;float:left;&#039;);
				commands.appendChild(list);
				if (scope.next) { // controlla se è presente una pagina successiva
					var next = document.createElement(&#039;div&#039;);
					//next.setAttribute(&#039;style&#039;, &#039;float:left;&#039;);
					var nIndex = parseInt($routeParams.pageId) + 1;
					next.innerHTML = &#039;&lt;a ng-click=&quot;next(&#039;+nIndex+&#039;)&quot; target=&quot;_self&quot;&gt;NEXT PAGE&lt;/a&gt;&#039;; // inserisce il link alla pagina successiva
					commands.appendChild(next);
				}*/
				var list = document.createElement(&#039;div&#039;);
				list.innerHTML = &#039;&lt;a ng-href=&quot;/&quot; target=&quot;_self&quot;&gt;RETURN TO PAGES LIST&lt;/a&gt;&#039;;
				commands.appendChild(list);
				parent.appendChild(commands);

				var table = document.createElement(&#039;table&#039;);
				table.className = &#039;graphstable&#039;;
				parent.appendChild(table);

				// crea la tabella con i grafici
				for(var i=0; i&lt;scope.graphs.length; i++) {
					var line = scope.graphs[i];
					var row = table.insertRow(i);
					for(var j=0; j&lt;line.length; j++) {
						var div = document.createElement(&#039;div&#039;);
						div.className = &#039;graph&#039;;
						var graph = line[j];
						switch (graph.type) {
							case &#039;BarChart&#039; : 
								div.setAttribute(&#039;ng-controller&#039;, &#039;BarChartController&#039;);
								div.setAttribute(&#039;style&#039;, &#039;margin: 50px;&#039;);
								div.innerHTML = &#039;&lt;bar-chart url=&quot;&#039;+ graph.url +&#039;&quot;&gt;&lt;/bar-chart&gt;&#039;;
								break;
							case &#039;LineChart&#039; : 
								div.setAttribute(&#039;ng-controller&#039;, &#039;LineChartController&#039;);
								div.setAttribute(&#039;style&#039;, &#039;margin: 50px;&#039;);
								div.innerHTML = &#039;&lt;line-chart url=&quot;&#039;+ graph.url +&#039;&quot;&gt;&lt;/line-chart&gt;&#039;;
								break;
							case &#039;MapChart&#039; : 
								div.setAttribute(&#039;ng-controller&#039;, &#039;MapChartController&#039;);
								div.setAttribute(&#039;style&#039;, &#039;margin: 50px;&#039;);
								div.innerHTML = &#039;&lt;map-chart url=&quot;&#039;+ graph.url +&#039;&quot;&gt;&lt;/map-chart&gt;&#039;;
								break;
							case &#039;Table&#039; :
								div.setAttribute(&#039;ng-controller&#039;, &#039;TableController&#039;);
								div.setAttribute(&#039;style&#039;, &#039;margin: 50px;&#039;);
								div.innerHTML = &#039;&lt;table-chart url=&quot;&#039;+ graph.url +&#039;&quot;&gt;&lt;/table-chart&gt;&#039;;
								break;
						}
						var cell = row.insertCell(j);
						cell.setAttribute(&#039;align&#039;, &#039;center&#039;);
						cell.appendChild(div);
					}
				}

				parent.setAttribute(&#039;style&#039;, &#039;height:&#039;+ 1000*scope.graphs.length +&#039;px; width:&#039;+ 1500*scope.graphs[0].length +&#039;px;&#039;);

				var el = $compile(parent)(scope);
				element.parent().append( el );
       		};

       		scope.$watch(&#039;graphs&#039;, function(){ // ad ogni inserimento o modifica della lista dei grafici viene chiamata la funzione render che ne aggiorna la visualizzazione
       			if (scope.graphs.length &gt; 0) {
	          		scope.render();
	          	}
        	}, true);

		}

	};
});</textarea>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>.</p>
  </div>
</footer>

<script type="text/html" id="complexity-popover-template">
  <div class="complexity-notice">
    Complexity : {{ complexity.cyclomatic }} <br>
    Length : {{ complexity.halstead.length }} <br>
    Difficulty : {{ complexity.halstead.difficulty.toFixed(2) }} <br>
    Est # bugs : {{ complexity.halstead.bugs.toFixed(2) }}<br>
  </div>
</script>

<script type="text/javascript" src="../../assets/scripts/bundles/core-bundle.js"></script>
<script type="text/javascript" src="../../assets/scripts/bundles/codemirror.js"></script>
<script type="text/javascript" src="../../assets/scripts/codemirror.markpopovertext.js"></script>
<script type="text/javascript" src="report.js"></script>
<script type="text/javascript" src="report.history.js"></script>
<script type="text/javascript" src="../../assets/scripts/plato-file.js"></script>
</body>
</html>
